
core/schema/project/1_SEQUENCES/.DS_Store
core/schema/project/1_SEQUENCES/sequence/.DS_Store
core/schema/project/1_SEQUENCES/sequence/shot/.DS_Store
core/schema/project/1_SEQUENCES/sequence/shot/step/.DS_Store
core/schema/project/1_SEQUENCES/sequence/shot/step/2_REF/.DS_Store
core/schema/project/2_ASSETS/.DS_Store
core/schema/project/2_ASSETS/asset_type/.DS_Store
core/schema/project/2_ASSETS/asset_type/asset/.DS_Store
core/schema/project/2_ASSETS/asset_type/asset/step/.DS_Store
core/schema/project/2_ASSETS/asset_type/asset/step/1_WORK/.DS_Store
core/schema/project/2_ASSETS/asset_type/asset/step/2_REF/.DS_Store
core/schema/project/2_ASSETS/asset_type/asset/step/4_PUBLISH/.DS_Store
